{% extends "base.html" %}


{% block title %}
Crear sugerencia | Centro de Alumnos 
{% endblock %}



{% block content %}


<section class="container mt-5 mb-5">


<div class="row justify-content-center">


<div class="col-lg-7">



<div class="create-card">



<div class="text-center mb-4">


<i class="fa-solid fa-lightbulb fa-4x text-primary"></i>


<h1 class="mt-3">

Nueva sugerencia

</h1>


<p class="text-muted">

Tu idea puede generar un cambio.

</p>


</div>





<form method="POST">





<div class="mb-3">


<label class="form-label fw-bold">

Título de la propuesta

</label>


<input

type="text"

name="titulo"

class="form-control"

placeholder="Ej: Mejorar los espacios comunes"

required>


</div>






<div class="mb-3">


<label class="form-label fw-bold">

Categoría

</label>



<select

name="categoria"

class="form-select"

required>


<option value="">

Selecciona una categoría

</option>


<option>

Infraestructura

</option>


<option>

Actividades

</option>


<option>

Deportes

</option>


<option>

Convivencia escolar

</option>


<option>

Tecnología

</option>


<option>

Otros

</option>


</select>


</div>







<div class="mb-3">


<label class="form-label fw-bold">

Descripción

</label>


<textarea

name="descripcion"

class="form-control"

placeholder="Explica tu idea con detalles..."

required></textarea>


</div>







<div class="d-grid">


<button class="btn btn-primary btn-lg">


<i class="fa-solid fa-paper-plane"></i>

Enviar sugerencia


</button>


</div>





</form>



</div>



</div>



</div>


</section>



{% endblock %}