{% extends "base.html" %}


{% block title %}
Editar Perfil
{% endblock %}



{% block content %}


<div class="container mt-5">


<div class="card shadow p-4">


<h2>
✏️ Editar perfil
</h2>



<form method="POST" enctype="multipart/form-data">


<label>
Nombre
</label>

<input 
class="form-control"
name="nombre"
value="{{ usuario.nombre }}"
required>



<label class="mt-3">
Curso
</label>

<input 
class="form-control"
name="curso"
value="{{ usuario.curso }}">



<label class="mt-3">
Foto de perfil
</label>

<input 
type="file"
class="form-control"
name="foto">



<button class="btn btn-success mt-4">

Guardar cambios

</button>


</form>


</div>


</div>


{% endblock %}